## 1. Python Output

In [1]:
# python is a case sensitive language
print('Hello world')

Hello world

In [2]:
print('salman khan')

salman khan

In [3]:
print(salman khan)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1115953987.py, line 1)

In [4]:
print(7)

7

In [5]:
print(6.6)

6.6

In [6]:
print(True)

True

In [7]:
print('Hello', 1, 4.5, False)

Hello 1 4.5 False

In [8]:
print('Hello', 1, 4.5, False, sep='/')

Hello/1/4.5/False

In [9]:
print('hello')
print('world')

hello
world

In [10]:
print('hello', end='-')
print('world')

hello-world

## 2. Data Types

In [11]:
# integer
print(8)

# 1 * 10^309
print(1e309)

# 1 * 10^308
print(1e308)

8
inf
1e+308

In [12]:
# decimal float
print(8.55)

8.55

In [13]:
# boolean
print(True)
print(False)

True
False

In [14]:
# text/string
print('hello world')

hello world

In [15]:
# complex number
print(5 + 6j)

(5+6j)

In [16]:
# List
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [17]:
# Tuple
print((1, 2, 3, 4, 5))

(1, 2, 3, 4, 5)

In [18]:
# set
print({1, 2, 3, 4, 5})

{1, 2, 3, 4, 5}

In [19]:
# dictionary
print({'name': 'nitish', 'gender': 'male', 'weight': 70})

{'name': 'nitish', 'gender': 'male', 'weight': 70}

In [20]:
# type 
type(3)

int

In [21]:
type(3.5)

float

In [22]:
type('hello')

str

In [23]:
type(True)

bool

In [24]:
type([1, 2, 3, 4, 5])

list

## 3. Variables

In [25]:
name = 'nitish'
print(name)

nitish

In [26]:
a = 5
b = 6

print(a + b)

11

In [27]:
# dynamic typing

# in c/c++ -> static typing [data type has to be mentioned and variables has to be declared]
# int a;
# a = 5;
# or 
# int a = 5; 

# in python
a = 5
print(a)

5

In [28]:
# dynamic binding -> it can change datatype of the same variable
a = 5
print(a)
print(type(a))

a = 'nitish'
print(a)
print(type(a))

# in static binding, if variable is declared call as integer, then it cant change its datatype at all it has to be integer

5
<class 'int'>
nitish
<class 'str'>

In [29]:
a = 1
b = 2
c = 3
print(a, b, c)

1 2 3

In [30]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [31]:
a = b = c = 5
print(a, b, c)

5 5 5

## Keywords and Identifiers

In [32]:
# Keywords are reserved words in Python that have a predefined meaning and cannot be used as identifiers (variable names, function names, etc.). They are part of Pythonâ€™s syntax.
# Keywords are case-sensitive â€” True is a keyword, but true is just a normal identifier.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [33]:
# Identifiers: Identifiers are the names you give to variables, functions, classes, modules, etc.
x = 5 # x is an identifier

In [34]:
# Rules for naming conventions

# Can contain letters (a-z, A-Z), digits (0-9), and underscores (_).

# Must start with a letter or underscore, not a digit.
# name1 (valid)
# _hidden_value (valid)
# 1variable (invalid)

# Cannot be a keyword.

# Can be of any length.

# Case-sensitive:
# For e.g. Name and name are different identifiers.

## 5. User Input

In [35]:
input('Enter Email') # notice the input given is stored in form of strings

''

In [36]:
# take two numbers from users and add the two numbers 
num1 = input('Enter first number:')
num2 = input('Enter second number:')
print("Num1 =", num1, ";Num2 =", num2)
print(num1 + num2)

Num1 =  ;Num2 =

In [37]:
# take two numbers from users and add the two numbers -> we need to typecast i.e. changing string variable to integer variable 
# that is why we got 45 as an output and not 9
num1 = int(input('Enter first number:'))
num2 = int(input('Enter second number:'))
print("Num1 =", num1, ";Num2 =", num2)
print(num1 + num2)

ValueError: invalid literal for int() with base 10: ''

## 6. Type Conversion

In [38]:
# implicit type conversion -> python itself changes the datatype
print(5 + 5.6)
print(type(5), type(5.6)) # since we are adding integer to float, python gives result in float

10.6
<class 'int'> <class 'float'>

In [39]:
print(4 + '4')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [40]:
# explicit type conversion -> user has to give type
# str -> int
print(type(int('4')))

# float -> int
print(type(int(4.5)))

# int -> float
print(float(4))

# similarly we can do for other types using set(), dict(), list(), int(), float(), complex(), bool(), tuple()

<class 'int'>
<class 'int'>
4.0

## 7. Literals

In [41]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [42]:
# binary
x = 3.14j
print(x.imag)

3.14

In [43]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [44]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [ ]:
k # trying to define variable without value 
print(k)

a = 5
b = 6

k = a + b
print(k)

NameError: name 'k' is not defined

In [ ]:
k = None # we cant define variable without any value but since we dont know what value needs to be put so we try to put None as value which can changed later
print(k)

a = 5
b = 6

k = a + b
print(k)

None
11