## Nested Loops

In [3]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i, j)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5

In [1]:
for i in range(1, 6):
    for j in range(1, 6):
        print('*', end='')
    print()

*****
*****
*****
*****
*****

In [2]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print('*', end='')
    print()

*
**
***
****
*****

In [10]:
for i in range(1, 5):
    for j in range(1, i + 1):
        print(j, end='')
    for k in range(i - 1, 0, -1):
        print(k, end='')
    print()

1
121
12321
1234321

## Loop Control Statements
- break
- continue
- pass

In [12]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [13]:
for i in range(1, 10):
    if  i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [14]:
for i in range(1, 10):
    pass

## Strings are sequence of characters

## In Python specifically, strings are a sequence of Unicode characters

- Creating strings
- Accessing strings
- Adding chars to strings
- Editing strings
- Deleting strings
- Operations on strings
- String Functions

In [ ]:
# creating strings

s = 'hello'

s1 = "hello"

s2 = '''hello''' # multiline strings
s3 = """hello"""

print(s, s1, s2, s3)

hello hello hello hello

In [16]:
print('it's raining outside')

SyntaxError: unterminated string literal (detected at line 1) (3561637438.py, line 1)

In [17]:
print("it's raining outside")

it's raining outside

In [21]:
# positive indexing
s = 'hello world'
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])

h
e
l
l
o

In [23]:
print(s[41])

IndexError: string index out of range

In [24]:
# negative indexing
s = 'hello world'
print(s[-1])
print(s[-2])
print(s[-3])
print(s[-4])
print(s[-5])

d
l
r
o
w

In [35]:
# slicing
s = 'hello world'

print(s[0:5])
print(s[2:3])
print(s[2:])
print(s[:3])
print(s[:])

print(s[0:6:2])
print(s[0:6:3])
print(s[6:0:-1])
print(s[6:0:-2])
print(s[::-1])

hello
l
llo world
hel
hello world
hlo
hl
w olle
wol
dlrow olleh

In [39]:
s = 'hello world'
print(s[-5:])
print(s[-1:-6:-1])

world
dlrow

In [41]:
s = 'hello world'
s[0] = 'H'

# python strings are immutable

TypeError: 'str' object does not support item assignment

In [43]:
s = 'hello world'

print(s)
del s
print(s) # after deleting string

hello world

NameError: name 's' is not defined

In [44]:
s = 'hello'
del s[-1:-5:-2]
print(s)

TypeError: 'str' object does not support item deletion

## Operation on Strings

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Loops on Strings
- Membership Operations

In [45]:
print('delhi' + 'mumbai')

delhimumbai

In [46]:
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [48]:
print('delhi ' * 5)

delhi delhi delhi delhi delhi

In [49]:
'delhi' == 'mumbai'

False

In [50]:
'delhi' != 'mumbai'

True

In [52]:
'mumbai' > 'pune' # lexiographically compare since m is smaller than p

False

In [ ]:
'Pune' > 'pune'

False

In [54]:
'hello' and 'world'

'world'

In [55]:
'hello' or 'world'

'hello'

In [56]:
'' and 'world'

''

In [57]:
'' or 'world'

'world'

In [ ]:
not '' # this implies that '' is False

True

In [59]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [60]:
for i in 'hello':
    print('pune')

pune
pune
pune
pune
pune

In [61]:
'D' in 'Delhi'

True

In [62]:
'd' not in 'Delhi'

True

## String Functions

- len
- max
- min
- sorted

In [63]:
len('hello world')

11

In [64]:
max('hello world')

'w'

In [65]:
min('hello world')

' '

In [66]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [67]:
sorted('hello world', reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Capitalize/Title/Upper/Lower/Swapcase

In [70]:
s = 'hello world'

print(s.capitalize())
print(s.title())

Hello world
Hello World

In [71]:
s = 'HELLO WORLD'
s1 = 'hello world'

print(s.lower())
print(s1.upper())

hello world
HELLO WORLD

In [72]:
'HelLo WorLD'.swapcase()

'hELlO wORld'

## Count/Find/Index

In [74]:
'my name is nitish'.count('i')

3

In [75]:
'my name is nitish'.find('is')

8

In [76]:
'my name is nitish'.find('x')

-1

In [77]:
'my name is nitish'.index('is')

8

In [78]:
'my name is nitish'.index('x')

ValueError: substring not found

## endswith/startswith

In [79]:
'my name is nitish'.endswith('sh')

True

In [80]:
'my name is nitish'.endswith('sho')

False

In [81]:
'my name is nitish'.startswith('my')

True

In [82]:
'my name is nitish'.startswith('my ')

True

In [83]:
'my name is nitish'.startswith(' my ')

False

## format

In [84]:
name = 'nitish'
gender = 'male'

'Hi my name is {} and I am a {}'.format(name, gender)

'Hi my name is nitish and I am a male'

In [85]:
'Hi my name is {1} and I am a {0}'.format(gender, name)

'Hi my name is nitish and I am a male'

## isalnum/isalpha/isdigit/isidentifier

In [ ]:
'nitish1234'.isalnum()

True

In [87]:
'nitish1234%'.isalnum()

False

In [88]:
'nitish1234'.isalpha()

False

In [89]:
'nitish'.isalpha()

True

In [90]:
'1name'.isidentifier()

False

In [91]:
'first_name'.isidentifier()

True

## split/join

In [92]:
'hi my name is nitish'.split(' ')

['hi', 'my', 'name', 'is', 'nitish']

In [94]:
'hi my name is nitish'.split('is')

['hi my name ', ' nit', 'h']

In [96]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi my name is nitish'

In [97]:
"-".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi-my-name-is-nitish'

## replace

In [98]:
"-".join(['hi', 'my', 'name', 'is', 'nitish']).replace('nitish', 'python')

'hi-my-name-is-python'

In [99]:
"-".join(['hi', 'my', 'name', 'is', 'nitish']).replace('cpp', 'python')

'hi-my-name-is-nitish'

## strip

In [100]:
'nitish                               '.strip()

'nitish'